package ${packageName}.dto;
import ${packageName}.model.${ClassName};
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import ${packageName}.model.${ClassName};

/**
 * @Description: ${functionName}数据实体
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${ClassName}Dto{

   @ApiModelProperty(notes="${functionName}")
   private ${ClassName} ${className};

}
