package ${packageName}.dao;


import org.apache.ibatis.annotations.Param;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.regent.rbp.common.dao.BaseDao;
import ${packageName}.model.${ClassName};
import ${packageName}.param.${ClassName}Param;

import java.util.List;
import com.regent.rbp.common.dao.BaseDao;

/**
 * @Description: ${functionName}Dao接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Dao  extends BaseDao<${ClassName}> {

   /** 
	 * @param page 分页信息
	 * @param queryParam 查询条件
	 * @return
	 */
	IPage<${ClassName}> searchPageData(@Param("page") Page<${ClassName}> page, @Param("query") ${ClassName}Param queryParam);
}
