package ${packageName}.resp;
import com.regent.bp.common.model.CommonQueryReq;
import ${packageName}.model.${ClassName};
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import ${packageName}.model.${ClassName};

/**
 * @Description: ${functionName}响应实体
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${ClassName}Resp extends ${ClassName}{

   @ApiModelProperty(notes="${functionName}")
   private ${ClassName} ${ClassName};

}
